.editorWrapper {
	background-color: hotpink;
	display: grid;
	grid-template-columns: 15% 70% 15%;
	height: 100%;
	width: 100%;
}

.leftSidebar, .rightSidebar {
	padding: 1rem;
	color: white;
}

.leftSidebar {
	background-color: indigo;
	grid-column: 1;
}

.editor {
	background-color: lightblue;
	grid-column: 2;
	padding: 0 10%;
}

.rightSidebar {
	background-color: navy;
	grid-column: 3;
}

